header,nav,section,aside,footer {
	display:block;font-family: garamond;
	font-size: 25px;
}
header{
	display: inline-block;
	position: fixed;left: 0;right: 0;top:0;z-index: 1;
	border:2px solid orange;text-align: left;
	box-sizing: border-box;background-color: #40A497;
	height: 70px; 
}
header div{
	display: inline-block;color:white;
	font-size: 20px;font-weight: bold;
	font-family: georgia;margin: 5px 0 0 15px;
}
nav{
	display: inline-block;
	position: relative;
	border:2px solid purple;text-align: left;
	box-sizing: border-box;background-color: skyblue;
	height: 500px; width: 30%;
	margin: 60px 0 0 10px; float: left;
}
#sect1{
	display: inline-block;
	position: relative;
	border:2px solid red;text-align: left;
	box-sizing: border-box;background-color: green;
	height: 300px; width: 69%;float: right;
	margin: 60px 0 0 0;
}
#vol1{
	display: inline-block;
	position: relative;
	border:2px solid red;text-align: center;
	box-sizing: border-box;background-color: pink;
	height: 100px; width: 40%;float: right;
	margin: 60px 0 0;
}
#vol2{
	display: inline-block;
	position: relative;
	border:2px solid red;text-align: center;
	box-sizing: border-box;background-color: blue;
	height: 100px; width: 40%;float: right;
	margin: 60px 0 0;
}
#sect2{
	display: inline-block;
	position: relative;
	border:2px solid yellow;text-align: left;
	box-sizing: border-box;background-color: red;
	height: 200px; width: 69%;float: right;
	margin: 20px 0 0 0;
}
#vol3{
	display: inline-block;
	position: relative;
	border:2px solid red;text-align: center;
	box-sizing: border-box;background-color: grey;
	height: 100px; width: 40%;float: right;
	margin: 60px 0 0;
}
footer{
	display: inline-block;
	position: fixed;left: 0;right: 0;bottom: 0;
	border:2px solid blue;text-align: left;
	box-sizing: border-box;background-color: grey;
	height: 50px;






